.RowHome {
}
.FooterHome {
  width: 100%;
  margin-top: 19%;
  background-color: #cf0e48;
  color: white;
  font-weight:900;
  font-size: 16px;
}
.Container {

  background-image: url('../assets/images/predictive-analytics.jpg');
}
.Modal {
  box-shadow: none;
}
/* .Card {
  max-width: 400px;
} */
.FooterHome div {
  justify-content: center !important;
}
.FormSelect {
  margin-bottom: 20px;
}
.Col {
  flex: 0 0 0;
}
@media (min-width: 412px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .Container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Col {
    flex: 0 0 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
